<div class="topbar">
  <div class="container">
    <div class="contact">📞 (+51) 967 678 197 &nbsp; ✉️ mrf.asesoresjuridicos@gmail.com</div>
    <div class="actions">¡COMPRAR AHORA! &nbsp; 🛒 <span id="cart-count">0</span> elementos</div>
  </div>
</div>

<header class="site-header">
  <div class="header-inner">
    <div class="logo"> <img src="images/logo_natural.png" alt="logo"> </div>
    <nav class="main-nav">
      <ul>
        <li><a href="/">INICIO</a></li>
        <li><a href="/nosotros.html">NOSOTROS</a></li>
        <li class="has-dropdown">
          <a href="/pages/products.html">PRODUCTOS</a>
          <div class="dropdown-menu">
            <a href="pages/products.html#alacena">ALACENA NATURAL</a>
            <a href="pages/products.html#loncheritas">LONCHERITAS</a>
            <a href="pages/products.html#lacteos">LÁCTEOS ARTESANALES</a>
            <a href="pages/products.html#snacks">SNACKS NATURALES</a>
          </div>
        </li>
        <li class="has-dropdown">
          <a href="#">TE AYUDAMOS</a>
          <div class="dropdown-menu">
            <a href="#">PREGUNTAS FRECUENTES</a>
            <a href="#">CAMBIOS Y DEVOLUCIONES</a>
            <a href="#">PUNTOS DE VENTA</a>
            <a href="#">CONTACTO RÁPIDO</a>
          </div>
        </li>
        <li><a href="#">EMPRENDE</a></li>
        <li><a href="#">BLOG</a></li>
        <li><a href="#">CONTACTO</a></li>
      </ul>
    </nav>
    <div class="search">🔍</div>
  </div>
</header>
